* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100vw;
    height: 80px;
    /* background-color: green; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.header p {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.container {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: rgb(194, 194, 204);
    display: flex;
    justify-content: center;
}
.addBook{
    margin-top: 50px;
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(114, 156, 252, 0.7);
}
.addBook:hover {
    background-color: rgba(114, 156, 252, 1);
}
dialog {
    margin: 0; /* `margin: auto;` is the default. */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}