* {
    margin: 0;
    padding: 0;
}
.header {
    width: 100vw;
    height: 80px;
    /* background-color: green; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}
.header p {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.container {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: rgb(194, 194, 204);
    display: flex;
    justify-content: center;
}
.addBook{
    margin-top: 50px;
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(114, 156, 252, 0.7);
}
.addBook:hover {
    background-color: rgba(114, 156, 252, 1);
}
dialog {
    margin: 0; 
    left: 50%;
    transform: translateX(-50%);
    margin-top: 300px;
    height: 600px;
    width: 500px;
    /* display: flex; */
    /* flex-direction: column; */
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}
form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
    text-align: center;
}
.dialog {
    /* visibility: hidden; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form input {
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    height: 30px;
    width: calc(100% - 11px);
}
form button {
    width: 120px;
    margin: auto;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(96, 128, 235, 0.8);
    border: none;
    cursor: pointer;
    font-size: 20px;
}
#closeImage {
    height: 10px;
    width: 10px;
    background-color: white;
}
#closeButton {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 10px;
    left: 95%;
}